body,html {
    background-color: #444;
    background-image: url("../image/astronomy.jpg");
    background-size: cover;
    margin: 0;
    padding: 0;
}

.spaceship {
    position: absolute;
    top: 544px;
}

#score {
    float: right;
    width: 200px;
    height: 200px;
    margin-top: 2%;
    text-align: center;
    background-color: bisque;
}

#score p {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.killed {
    display: none;
}

#redLine {
    position: absolute;
    top: 30px;
    width: 90%;
    height: 3px;
    margin-left: 5%;
    background-color: red;
}

#line {
    position: absolute;
    top: 490px;
    width: 90%;
}


#satelliteRight {
    float:right;
}

#score p {
    font-family: cartoon;
    font-size: 30px;
}

#score h1 {
    font-family: cartoon;
}
@font-face {
    font-family: cartoon;
    src: url('../fonts/Cartoonic\ Massive\ Collage.ttf')
}

@font-face {
    font-family: cartoonRegular;
    src: url('../fonts/Cartoonic\ Massive\ Regular.ttf')
}