body,html {
    background-color: #444;
    background-image: url("../image/astronomy.jpg");
    background-size: cover;
    margin: 0;
    padding: 0;
}

.spaceship {
    position: absolute;
    top: 544px;
}

#score {
    float: right;
    width: 100px;
    height: 100px;
    margin: 2%;
    text-align: center;
    background-color: bisque;
}

#score p {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.killed {
    display: none;
}

#redLine {
    position: absolute;
    top: 520px;
    width: 100%;
    height: 5px;
    background-color: red;
}